body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, sans-serif; 
    color: #fcfcfc; 
    background: #355664; 
    
}
div.article-content figure+p{
    line-height: 20px;
    padding-bottom: 5px;
    color: #94c258;
    margin: 0px;
}
div.article-content{
    margin: 15px 0;
}
h1{
    font-family: forte, Arial, sans-serif; 
    font-size: 50px; 
    padding: 10px 0 0; 
    text-align: center; 
    margin: 0;
}
h2{
    font-family: forte, Arial,sans-serif;
    font-size: 40px;
    letter-spacing: 15px;
    border-bottom: 3px solid #416371;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}
h3{
    font-family: forte, Arial, sans-serif; 
    font-size: 30px;
    font-weight: normal; 
    text-align: right; 
    margin: 0 0 10px; 
}
nav{
    background: #355664;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}
li{
    display: inline;
}
li a{
    color: #ffffff;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    font-size: 30px;
    text-transform: lowercase;
    
}
li+li a{
    color: #7cb3E9;
    text-transform: none;
}
li+li+li a{
    color: #8ec45b;
    text-transform: uppercase;
}
article{
    height: 390px;
    background: #26404b;
    padding: 20px;
    margin: 0 0 10px;
    border-radius: 10px;
}
img{
    width: 500px;
    height: 300px;
    border: none;
}
figure{
    border: 3px solid #142830;
    float: right;
    height: 300px;
    width: 500px;
    margin: auto;
    margin-left: 15px;
    border-radius: 10px;
}
footer{
    border-top: 3px solid #142830;
    padding-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}